# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore PyTorch models
*.pt
*.torchscript

# Ignore Singularity images
*.sif

# Ignore output files
*.out

#Ignore virtual Environment
virtual_env/

#Ignore videos
*.mp4
*.avi
