# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore PyTorch models
*.pt
*.pth
*.torchscript

# Ignore Singularity images
*.sif

# Ignore output and log files
*.out
*.log
*.txt

#Ignore virtual Environment
virtual_env/

#Ignore videos
*.mp4
*.avi
